/* Style Rules for Contact Section */
#contact-header {
  color: #FFF;
  text-align: center;
}

.contact-header-container {
  background: #000;
  width: 50%;
  margin: 0 auto;
}

#form-graphic {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 80%;
  height: auto;
  border-radius: 8px;
  padding-bottom: 20px;
}
