/* Style Rules for Donate Page */
.donate-hero-image-container {
  max-width: 400px;
  width: 90%;
  margin: 20px auto;
}

.donate-hero-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.donate-header-container {
  background: #000;
  max-width: 400px;
  width: 90%;
  margin: 20px auto 40px auto;
  border-radius: 8px;
}

.donate-header {
  color: #FFF;
  text-align: center;
  margin: 0 auto;
}

.donate-statement-container {
  background: #000;
  max-width: 400px;
  width: 90%;
  margin: 20px auto;
  border-radius: 8px;
}

.donate-statement-container p {
  color: #FFF;
  text-align: center;
  padding: 10px 20px;
  margin: 10px auto;
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: normal;
  font-size: 1rem;
}

.donation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 1px solid #FFF;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
}

/* Style Rules for Donation Radio Buttons */
.donation-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.donation-label {
  background: #000;
  color: #FFF;
  border: 2px solid #FFF;
  padding: 10px 20px;
  width: 100px;
  text-align: center;
  max-width: 100px;
  border-radius: 4px;
}

/* Style Rules for Tablet Viewport */
@media (min-width: 768px) and (max-width: 1023px) {
  .donate-hero-image-container {
      max-width: 600px;
  }

  .donate-hero-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
  }

  .donate-statement-container p {
      font-size: 1.1rem;
      font-weight: 300;
      max-width: 700px;
      margin: 0 auto;
  }
}

/* Style Rules for Desktop Viewport */
@media (min-width: 1024px) {
    /* Style Rules for Donate Page */
  .donate-header-container {
    max-width: 600px;
  }

  .donate-header {
    font-size: 2.5rem;
    text-wrap: nowrap;
  }

  .donate-hero-image-container {
    width: 75vw;
    max-width: 900px;
  }

  .donate-hero-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .donate-statement-container p {
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
  }
}