/* Style Rules for Donate Page */
.donate-hero-image-container {
  max-width: 400px;
  width: 90%;
  margin: 20px auto;
}

.donate-hero-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.donate-header-container {
  background: #000;
  max-width: 400px;
  width: 90%;
  margin: 20px auto 40px auto;
  border-radius: 8px;
}

.donate-header {
  color: #FFF;
  text-align: center;
  margin: 0 auto;
}

#donation-legend {
  color: #FFF;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Libertinus Serif Display", serif;
  margin: 10px auto;
  background: #000;
  padding: 10px 20px;
}

.donate-statement-container {
  background: #000;
  max-width: 400px;
  width: 90%;
  margin: 20px auto;
  border-radius: 8px;
}

.donate-statement-container p {
  color: #FFF;
  text-align: center;
  padding: 10px 20px;
  margin: 10px auto;
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: normal;
  font-size: 1rem;
}

.donation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border: 3px solid #FFF;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  margin: 20px auto;
  padding: 10px;
  background: #000;
  opacity: 0.95;
}

/* Style Rules for Donation Radio Buttons */
.donation-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
  background: #000;
  border-radius: 8px;
  padding-bottom: 15px;
  margin: 20px auto;
  width: 90%;
}

.donation-label {
  background: #000;
  color: #FFF;
  border: 2px solid #FFF;
  padding: 10px 20px;
  width: 100px;
  text-align: center;
  max-width: 100px;
  border-radius: 4px;
}

/* Style Rules for Tablet Viewport */
@media (min-width: 768px) and (max-width: 1023px) {
  .donate-hero-image-container {
      max-width: 600px;
  }

  .donate-hero-image {
      width: 100%;
      height: auto;
      border-radius: 8px;
  }

  .donate-statement-container p {
      font-size: 1.1rem;
      font-weight: 300;
      max-width: 700px;
      margin: 0 auto;
  }

  #donation-legend {
      font-size: 1.25rem;
  }
}

/* Style Rules for Desktop Viewport */
@media (min-width: 1024px) {
    /* Style Rules for Donate Page */
  .donate-header-container {
    max-width: 600px;
  }

  .donate-header {
    font-size: 2.5rem;
    text-wrap: nowrap;
  }

  .donate-hero-image-container {
    width: 75vw;
    max-width: 900px;
  }

  .donate-hero-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }

  .donate-statement-container p {
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
  }

  #donation-legend {
    font-size: 1.5rem;
  }

  .donation-selection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .donation-container {
    width: 75vw;
    max-width: 900px;
  }
}