/* Style Rules for Apparel and Accessories */
.apparel-container, .accessory-container, .product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#apparel-header, #accessory-header, #new-drop-header, #pre-order-header {
  color: #FFF;
  text-align: center;
  margin: 0 auto;
}

.header-container h3, .apparel-container h3, .accessory-container h3 {
  color: #FFF;
  background: #000;
  padding: 20px 20px;
  border-radius: 4px;
}

.header-container {
  background: #000;
  max-width: 400px;
  width: 90%;
  margin: 0 auto;
  border-radius: 8px;
}

.product-image-container {
  border-radius: 8px;
  height: 200px;
  width: 200px;
  padding: 20px;
}

.product-image {
  height: 100%;
  width: 100%;
  margin: 25px auto;
}

/* Style Rules for Tablet Viewport */
@media (min-width: 768px) and (max-width: 1023px) {}

/* Style Rules for Desktop Viewport */
@media (min-width: 1024px) {
  .apparel-container, .accessory-container {
    flex-direction: column;
    gap: 20px;
  }

  .product-image-container {
    height: 400px;
    width: 400px;
    padding: 30px;
  }

  .product-carousel {
    max-width: 800px;
    padding: 20px 0;
  }
}