/* CSS Reset */ 
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Style Rules */
/* Fixed Background across different OS's */
.bg-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/cropped-inverted-skusuks-logo.png");
  /* opacity: 0.875; */
  background-repeat: repeat;
  background-position: top left;
  background-size: 100px 100px;
  z-index: -1;
  pointer-events: none;
}

/* General Page Rules */
html, body {
  height: 100%;
}

body {
  font-family: "Libertinus Serif Display", serif;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 1.5;
  margin: 0;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  flex: 1;
  padding-top: 80px;
}

h1, h2, h3, #contact-header {
  font-family: "Pridi", serif;
  font-style: normal;
}

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2, h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

p {
  font-size: 1rem;
}

button {
  font-family: "Libertinus Serif Display", serif;
  font-weight: 500;
}

/* Style Rules for Mission Statement Section */
.mission {
  display: flex;
  justify-content: center; 
  padding: 20px 0;
}

.mission-statement-container {
  background: #000;
  max-width: 600px;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
}

.mission-statement-container p {
  font-size: 1rem;
  font-weight: 300;
  color: #FFF;
  text-align: center;
  padding: 20px 30px;
  font-family: "Libertinus Serif Display", system-ui;
  font-weight: normal;
}

/* Media Queries */
/* Style Rules for Desktop Viewport */
@media (min-width: 900px) {
  /* Font Style Rules for Body and Headers */
  body {
    font-size: 1rem;
    font-weight: 400;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 500;
  }

  h2, h3 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  /* Style Rules for Mission Statement Section */
  .mission-statement-container p {
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 800px;
    margin: 0 auto;
  }

  /* Style Rules for Apparel/Accessories */
  .apparel-container h3, .accessory-container h3 {
    font-size: 1.5rem;
  }

  /* Style Rules for Footer Section */
  footer h2 {
    font-size: 1.25rem;
  }

  footer p {
    font-size: 1rem;
  }

  #socials svg {
    width: 5vw;
    max-width: 75px;
  }
}
