/* Style Rules for Navigation Area */

/* Top Nav Container */
.top-nav {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 10px 15px;
}

/* Hero Image */
.top-nav .logo img {
  max-height: 50px;
  object-fit: contain;
}

/* Cart Icon */
.top-nav .cart {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart {
  position: relative;
}

.top-nav .cart svg {
  display: inline-block;
  vertical-align: middle;
  margin-top: 1px;
  width: 30px;
  height: 30px;
  fill: white;
  stroke: white;
  transform: translateY(4.5px);
}

/* Hamburger Icon */
.top-nav .nav-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.top-nav .nav-toggle svg {
  width: 30px;
  height: 30px;
  stroke: #FFF;
  fill: none;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  top: 65px;
  left: 0;
  width: 80%;
  background-color: #000;
  border-radius: 0 0 8px 8px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 9;
}

.nav-menu[hidden] {
  display: none;
}

.nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.nav-menu li a {
  text-decoration: none;
  color: #FFF;
  font-weight: 500;
  padding: 5px 10px;
  transition: background 0.2s;
}

.nav-menu li a:hover {
  background-color: #222;
  border-radius: 4px;
}

/* Style Rules for Footer */
footer {
  background: #000;
}

footer h2 {
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding-top: 2%;
}

footer p {
  font-size: 0.75rem;
  font-family: "Pridi", serif;
  font-weight: 400;
  font-style: normal;
  color: #FFF;
  text-align: center;
  margin: 5px auto;
  padding-top: 5px;
  padding-bottom: 10px;
}

#socials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
  justify-items: center;
  align-items: center;
}

#socials svg {
  fill: #FFF;
  max-width: 80px;
  width: 15vw;
  max-width: 50px;
  height: auto;
  cursor: pointer;
}

 #x-icon {
  transform: scale(0.8);
  transform-origin: center;
}
